:root {
  --secondary-bg-color: #f5f5f5;
  --main-color: #8f95a5;
  --bg-color: #e5e5e5;
  --black-color: #000000;
  --white-color: #fff;
  --logo-item-color: #939393;
  --min-title-color: #263238;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--main-color);
}

.container {
  max-width: 1368px;
  padding: 0 15px;
  outline: 5px solid tomato;
  margin: 0 auto;
}

.logo {
  color: var(--black-color);
  font-size: 36px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: var(--black-color);
  margin-bottom: 60px;
}

.min-title {
  font-weight: 600;
  font-size: 30px;
  color: var(--min-title-color);
}

.btn {
  background-color: var(--min-title-color);
  border-radius: 10px;
  color: var(--white-color);
}

.header {
  padding-top: 55px;
}

.logo-item {
  color: var(--logo-item-color);
}

.navigations-link {
  font-weight: 500;
  color: var(--min-title-color);
}

.header-button {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding: 18px 54px;
  border: 2px solid var(--min-title-color);
  border-radius: 10px;
  min-width: 312px;
}

/* Hero */

.hero {
  padding-top: 101px;
}

.hero-content {
  width: 546px;
}

.hero-title {
  font-weight: 600;
  font-size: 64px;
  line-height: calc(80 / 64);
  color: var(--black-color);
  margin-bottom: 57px;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 43px;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.hero-button {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--min-title-color);
  min-width: 426px;
  padding: 22px 0;
  background-color: var(--min-title-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
}

/* Skills */

.skills {
  padding-top: 134px;
  padding-bottom: 178px;
}

.skills-title {
  text-align: center;
  margin-bottom: 20px;
}

.skills-item {
  padding: 32px 18px;
}

.skills-item-title {
  margin-bottom: 20px;
}

.skills-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.skills-image {
  margin-bottom: 24px;
}

.skills-btn {
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--min-title-color);
  min-width: 230px;
  padding-top: 17px;
  padding-bottom: 16px;
}

.skills-item {
  background-color: var(--secondary-bg-color);
}

/* about */
.about {
  padding-bottom: 182px;
}

.about-content {
  max-width: 652px;
}

.about-text {
  margin-bottom: 30px;
  line-height: calc(36 / 20);
}

.about-stats {
  font-weight: 600;
  font-size: 48px;
  color: var(--min-title-color);
  margin-bottom: 6px;
}
