.hero {
  padding-top: 101px;
  &__wrapper {
    display: flex;
  }
  &__content {
    width: 546px;
    margin-right: 123px;
  }
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: calc(80 / 64);
    color: var(--black-color);
    margin-bottom: 57px;
  }
  &__text {
    font-size: 24px;
    margin-bottom: 43px;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
      rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px,
      rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
      rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  &__button {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--min-title-color);
    min-width: 426px;
    padding: 22px 0;
    background-color: var(--min-title-color);
    border: 1px solid var(--black-color);
    border-radius: 10px;
    @extend %btn-global-style;
    background-color: red;
  }
}
